{% extends 'base.html' %}
{% block title %}DM{% endblock %}

{% block content %}
<!--
<form method="POST">
    <div class="btn-group-vertical left" role="group" aria-label="maybe">
    <button type="submit" class="btn btn-primary btn-sm" value="100"  name="hmmm" id="hmmm">
      Start Combat
    </button>
    <button type="submit" class="btn btn-primary btn-sm" value="100" name="hmmm" id="hmmm">
      End Combat
    </button>
    </div>
</form>
-->

<form method="POST">
  <div class="left">
  <h3 align="center">Add monster</h3>
  <div class="form-group">
    <!--
    <input
      type="text"
      class="form-control"
      id="monsterindex"
      name="monsterindex"
      placeholder="Enter monster index"
    />
    -->
    <select class="form-control" is="monsterindex" name="monsterindex">
      {% for monster in allMonsters %}
      <option value={{ monster.get("index") }}>{{ monster.get("name") }}</option>
      {% endfor %}
    </select>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>




<div class="right">
  <table class="table">
    <tr class="table__header">
      <th class="table__cell">Name</th>
      <th class="table__cell">HP</th>
      <th class="table__cell">Initiative</th>
    </tr>
    {% for charMon in charsMons %}
      <tr class="table__row">
      <td class="table__cell">
        {% if isMonster[ loop.index0 ] == 1 %}
        <button type="button" class="close" onClick="deleteMonster({{ charMon.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
        {% endif %}
        {{ charMon.name }}
      </td>
      <td class="table__cell">

        <form method="POST">
          {% if isMonster[ loop.index0 ] == 1 %}
          {{ charMon.HPcurrent }} / {{ charMon.HPmax }}&nbsp;&nbsp;
          <input id="HPchange" type="number" placeholder="Enter HP" name="HPchange" style="width: 6em">
          <button id="HPButtonUp" name="HP" value="U{{charMon.id}}" class="btn btn-primary btn-hpup btn-sm" type="submit">↑</button>
          <button id="HPButtonDown" name="HP" value="D{{charMon.id}}" class="btn btn-primary btn-hpdown btn-sm" type="submit">↓</button>
          {% endif %}
        </td>
        </form>

      <td class="table__cell">{{ charMon.initiative }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}