{% extends 'base.html' %}
{% block title %}Player{% endblock %}

{% block content %}
<div class="container">
<div class="top">
<h4>{{ character.name }} | Level {{ character.level }} - {{ character.Class }}</h4>
</div>
{% if state == 'passive' %}
<form method="POST">
<div class="btn-group-vertical left" role="group" aria-label="20">
  <button type="submit" class="btn btn-primary buttonDEX btn-sm" value={{ character.abilityModifiers[0] }} name="20" id="20">
    Acrobatics | {% if character.abilityModifiers[0] >= 0 %}+{% endif %}{{ character.abilityModifiers[0] }}
  </button>
  <button type="submit" class="btn btn-primary buttonWIS btn-sm" value={{ character.abilityModifiers[1] }} name="20" id="20">
    Animal Handling | {% if character.abilityModifiers[1] >= 0 %}+{% endif %}{{ character.abilityModifiers[1] }}
  </button>
  <button type="submit" class="btn btn-primary buttonINT btn-sm" value={{ character.abilityModifiers[2] }} name="20" id="20">
    Arcana | {% if character.abilityModifiers[2] >= 0 %}+{% endif %}{{ character.abilityModifiers[2] }}
  </button>
  <button type="submit" class="btn btn-primary buttonSTR btn-sm" value={{ character.abilityModifiers[3] }} name="20" id="20">
    Athletics | {% if character.abilityModifiers[3] >= 0 %}+{% endif %}{{ character.abilityModifiers[3] }}
  </button>
  <button type="submit" class="btn btn-primary buttonCHA btn-sm" value={{ character.abilityModifiers[4] }} name="20" id="20">
    Deception | {% if character.abilityModifiers[4] >= 0 %}+{% endif %}{{ character.abilityModifiers[4] }}
  </button>
  <button type="submit" class="btn btn-primary buttonINT btn-sm" value={{ character.abilityModifiers[5] }} name="20" id="20">
    History | {% if character.abilityModifiers[5] >= 0 %}+{% endif %}{{ character.abilityModifiers[5] }}
  </button>
  <button type="submit" class="btn btn-primary buttonWIS btn-sm" value={{ character.abilityModifiers[6] }} name="20" id="20">
    Insight | {% if character.abilityModifiers[6] >= 0 %}+{% endif %}{{ character.abilityModifiers[6] }}
  </button>
  <button type="submit" class="btn btn-primary buttonCHA btn-sm" value={{ character.abilityModifiers[7] }} name="20" id="20">
    Intimidation | {% if character.abilityModifiers[7] >= 0 %}+{% endif %}{{ character.abilityModifiers[7] }}
  </button>
  <button type="submit" class="btn btn-primary buttonINT btn-sm" value={{ character.abilityModifiers[8] }} name="20" id="20">
    Investigation | {% if character.abilityModifiers[8] >= 0 %}+{% endif %}{{ character.abilityModifiers[8] }}
  </button>
  <button type="submit" class="btn btn-primary buttonWIS btn-sm" value={{ character.abilityModifiers[9] }} name="20" id="20">
    Medicin | {% if character.abilityModifiers[9] >= 0 %}+{% endif %}{{ character.abilityModifiers[9] }}
  </button>
  <button type="submit" class="btn btn-primary buttonINT btn-sm" value={{ character.abilityModifiers[10] }} name="20" id="20">
    Nature | {% if character.abilityModifiers[10] >= 0 %}+{% endif %}{{ character.abilityModifiers[10] }}
  </button>
  <button type="submit" class="btn btn-primary buttonWIS btn-sm" value={{ character.abilityModifiers[11] }} name="20" id="20">
    Perception | {% if character.abilityModifiers[11] >= 0 %}+{% endif %}{{ character.abilityModifiers[11] }}
  </button>
  <button type="submit" class="btn btn-primary buttonCHA btn-sm" value={{ character.abilityModifiers[12] }} name="20" id="20">
    Performance | {% if character.abilityModifiers[12] >= 0 %}+{% endif %}{{ character.abilityModifiers[12] }}
  </button>
  <button type="submit" class="btn btn-primary buttonCHA btn-sm" value={{ character.abilityModifiers[13] }} name="20" id="20">
    Persausion | {% if character.abilityModifiers[13] >= 0 %}+{% endif %}{{ character.abilityModifiers[13] }}
  </button>
  <button type="submit" class="btn btn-primary buttonINT btn-sm" value={{ character.abilityModifiers[14] }} name="20" id="20">
    Religion | {% if character.abilityModifiers[14] >= 0 %}+{% endif %}{{ character.abilityModifiers[14] }}
  </button>
  <button type="submit" class="btn btn-primary buttonDEX btn-sm" value={{ character.abilityModifiers[15] }} name="20" id="20">
    Slight of Hand | {% if character.abilityModifiers[15] >= 0 %}+{% endif %}{{ character.abilityModifiers[15] }}
  </button>
  <button type="submit" class="btn btn-primary buttonDEX btn-sm" value={{ character.abilityModifiers[16] }} name="20" id="20">
    Stealth | {% if character.abilityModifiers[16] >= 0 %}+{% endif %}{{ character.abilityModifiers[16] }}
  </button>
  <button type="submit" class="btn btn-primary buttonWIS btn-sm" value={{ character.abilityModifiers[17] }} name="20" id="20">
    Survival | {% if character.abilityModifiers[17] >= 0 %}+{% endif %}{{ character.abilityModifiers[17] }}
  </button>
</div>
</form>

{% elif state == 'combat' %}

<form method="POST">
<div class="left">
  <button type="submit" class="btn btn-primary buttonINITIATIVE btn-sm" value={{ character.initiative }} name="initiative" id="initiative">
    Initiative
  </button>
</div>
<br/>
<div class="btn-group-vertical left" role="group" aria-label="20">
  <button type="submit" class="btn btn-primary buttonSTR btn-sm" value={{ character.savingThrowMultipliers[0] }} name="20" id="20">
    STR | {% if character.savingThrowMultipliers[0] >= 0 %}+{% endif %}{{ character.savingThrowMultipliers[0] }}
  </button>
  <button type="submit" class="btn btn-primary buttonDEX btn-sm" value={{ character.savingThrowMultipliers[1] }} name="20" id="20">
    DEC | {% if character.savingThrowMultipliers[1] >= 0 %}+{% endif %}{{ character.savingThrowMultipliers[1] }}
  </button>
  <button type="submit" class="btn btn-primary buttonCON btn-sm" value={{ character.savingThrowMultipliers[2] }} name="20" id="20">
    CON | {% if character.savingThrowMultipliers[2] >= 0 %}+{% endif %}{{ character.savingThrowMultipliers[2] }}
  </button>
  <button type="submit" class="btn btn-primary buttonINT btn-sm" value={{ character.savingThrowMultipliers[3] }} name="20" id="20">
    INT | {% if character.savingThrowMultipliers[3] >= 0 %}+{% endif %}{{ character.savingThrowMultipliers[3] }}
  </button>
  <button type="submit" class="btn btn-primary buttonWIS btn-sm" value={{ character.savingThrowMultipliers[4] }} name="20" id="20">
    WIS | {% if character.savingThrowMultipliers[4] >= 0 %}+{% endif %}{{ character.savingThrowMultipliers[4] }}
  </button>
  <button type="submit" class="btn btn-primary buttonCHA btn-sm" value={{ character.savingThrowMultipliers[5] }} name="20" id="20">
    CHA | {% if character.savingThrowMultipliers[5] >= 0 %}+{% endif %}{{ character.savingThrowMultipliers[5] }}
  </button>
</div>

</form>

<form method="POST">
  <div class="leftmid">
    {% for weapon in character.equippedWeapons %}
    <div class="btn-group leftmid" role="group" aria-label="maybe">
    {{ weapon.name }}&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary btn-sm" value="99"  name="20" id="20">
      Hit
    </button>
    <button type="submit" class="btn btn-primary btn-sm" value="100" name="1d4" id="1d4">
      Dmg
    </button>
    </div>
    <br />
    {% endfor %}
  </div>
</form>

{% endif %}

<div class="right">
{% if values[0] != None %}
<h2 style="text-align:center;border-width:1px; border-style:solid; border-color:#000000; padding: 0.5em;">
  {{ values[0] }}{% if values[1] >= 0 %}+{% endif %}{{ values[1] }} = {{ values[0] + values[1] }}
</h2>
{% endif %}
</div>

</div>
{% endblock content %}

{% block playernavbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar2"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar2">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href = {{ url_for('views.player', charId=character.id, state='passive') }}>Passive</a>
          <a class="nav-item nav-link" href = {{ url_for('views.player', charId=character.id, state='combat') }}>Combat</a>
        </div>
      </div>
    </nav>
{% endblock %}